PERF_MONGO_URI=mongodb://host1:27017,host2:27017,host3:27017/admin?replicaSet=rsTraining&authSource=admin&tls=true
PERF_MONGO_USER=replace-with-admin-user
PERF_MONGO_PASSWORD=replace-with-admin-password
PERF_AUTH_DB=admin

PERF_CA_FILE=/home/ubuntu/mongodb-ca.crt
PERF_CLIENT_PEM_FILE=/home/ubuntu/windows-client.pem
PERF_TLS_CA_FILE=/certs/mongodb-ca.crt
PERF_TLS_PEM_KEY_FILE=/certs/windows-client.pem
PERF_TLS_ALLOW_INVALID_HOSTNAMES=true
PERF_LAB_DB=performance_all_round_lab
PERF_AUTO_INSTALL_LAB=true
PERF_INSTALL_ORDERS=10000
PERF_INSTALL_EVENTS=5000
