PERF_MONGO_URI=mongodb://18.61.157.150:27017,16.112.128.67:27017,16.112.69.233:27017/admin?replicaSet=rsTraining&authSource=admin&tls=true
PERF_MONGO_USER=siteAdmin
PERF_MONGO_PASSWORD=replace-with-admin-password
PERF_AUTH_DB=admin

PERF_CERTS_DIR=./certs
PERF_TLS_CA_FILE=/certs/mongodb-ca.crt
PERF_TLS_PEM_KEY_FILE=/certs/windows-client.pem
PERF_TLS_ALLOW_INVALID_HOSTNAMES=false
PERF_LAB_DB=performance_all_round_lab
